<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="COM_%{component_name_upper}_COMPONENT_LABEL"
		description="COM_%{component_name_upper}_COMPONENT_DESC"
	>
	</fieldset>

	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field 
            name="rules" 
            type="rules"
			component="com_%{component_name}"
            class="inputbox"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>

</config>
